<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>React - A Javascript library for building user interfaces</title>
</head>
<body>
<div class="container">
  <header class="header-wrapper">
    <div class="header">
      <div class="header-content">
        <a href="" class="logo">
          <img src="./react-logo.svg" height="20" alt="React Logo">
          <span>React</span>
        </a>
        <nav>
          <a href="" class="nav-item">Docs</a>
          <a href="" class="nav-item">Tutorial</a>
          <a href="" class="nav-item">Community</a>
          <a href="" class="nav-item">Blog</a>
        </nav>
        <form class="search-container">
          <span>
            <input type="search" placeholder="Search docs"/>
          </span>
        </form>
        <div class="additional-content">
          <a href="" class="version-link">v16.4.1</a>
          <a href="" class="repo-link">Github
            <img src="./repo.svg" height="15" alt="Repository Link Icon">
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class="content">Content</div>
  <div class="footer">Footer</div>
</div>
</body>
</html>